/* ---------------- General Daclaration-------------- */
* {
    box-sizing: border-box;
}
body {
    font-family: Verdana,sans-serif;
    background: #f5f5f5;
}
header {
    top: 0px;
    background: #fff;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
    clear: both;
}
.container {
    margin: 0 auto;
    max-width: 1100px;
}

ul {
    list-style: none;
    display: inline;
}

header li{
    display: inline-block;
}

a {
    text-decoration: none;
}

/* ---------------------------Upper Navigation Bar-------------------------- */

.upper-nav {
    margin-top: -10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding: 20px 0;;
    text-align: right
}

.upper-nav-left-menu,
.upper-nav-right-menu {
    display: inline;
    font-size: 11px;
}

.upper-nav-left-menu {
    float: left;
}

.upper-nav-left-menu>ul>li,
.upper-nav-right-menu>ul>li {
    padding: 0 10px;
    border-right: 1px solid #ccc;
}

.upper-nav-left-menu>ul>li:first-child {
    padding-left: 0;
}

.upper-nav-left-menu>ul>li:last-child {
    border-right: 0;
}

.upper-nav-right-menu>ul>li:last-child {
    border-right: 0;
    padding-right:0;
}

.upper-nav-left-menu>ul>li>a,
.upper-nav-right-menu>ul>li>a {
    color: #666;
}

.sign-in-btn {
    border: 1px solid #ed017f;
    color: #ed017f !important;
    border-radius: 2px;
    padding: 2px 12px;
}

/* ---------------Logo, Search Bar and Favourites Bloack-------------- */
.search-bar-nav{
    display: block;
    height: 150px;
    padding: 20px 0;
}

.logo-wrapper {
    width: 300px;
    float: left;
}
.search-bar-wrapper {
    width: 500px;
    float: left;
    padding: 20px 0;
}
.search-form-block {
    margin: 0 auto;
    width: 400px;
}

.search-input {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border: 1px solid #ccc;
    width: 290px;
    height: 35px;
    border-radius: 3px 0 0 3px;
    padding: 5px;
}

.search-button {
    height: 35px;
    width: 110px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border: 1px solid #ccc;
    margin: 5px 0 0 -10px;
    border-radius: 0 3px 3px 0;
    color: #ed017f;
}

.search-button:hover {
    border: 1px solid #ed017f;
}

.favourites-wrapper {
    width: 300px;
    float: left;
    vertical-align: middle;
    text-align: center;
    padding: 30px 0;
    font-size: 16px;
}
.favourites-wrapper span {
    margin-right: 15px;
}
.favourites-wrapper span .fa {
    font-size: 25px;
    vertical-align: middle;
}
/* ---------------------Menu Bar---------------- */
.menu-bar {
    background: #ed017f;
    color: white;
    min-height: 0;
    position: relative;
}

.menu-bar .menu-item>span {
    color: #fff;
    padding: 15px 10px;
    display: block;
    font-size: 14px;
}

/* ----------------------Slider Row---------------------- */
.slider-wrapper {
    margin-top: 60px;
}
.slider {
    float: left;
    width: 800px;
}
 .slider img{
    height: 350px;
    width: 800px;
}

.flyers {
    margin-left: 30px;
    float: left;
    display: inline;
    width: 270px;
    height: 350px;
}

.flyer-1,
.flyer-2,
.flyer-3 {
    height: 100px;
    width: 100%; 
    background-image: url('../images/konga-flyer.png');
    background-position: 0;
    background-size: inherit;
    margin-bottom: 25px;
}

.flyer-3 {
    margin-bottom: 0;
}

/* ---------------------Categories------------------ */
.category-section {
    padding-top: 40px;
    height: 350px;
}
.category-container {
   border-top: 2px solid gray;
}
.category-list {
    width: 190px;
    float: left;
}
.category-list-header {
    width: 100%;
    background: #a5b72f;
    color: white;
    padding: 18px 20px;
}

.category-list-items {
    background: #fff;
    padding-left: 20px;
}

.category-list-items a {
    font-size: 11px;
    color: black;
    display: block;
    margin-bottom: 15px;
}

.category-view-all-section {
    background: #d2d2d2;
    padding: 10px 20px;
    font-size: 12px;
}

.category-view-all-section a {
    color: black;
}

.category-deals {
    width: 250px;
    float: left;
}

.category-deals img {
    width: 250px;
    height: 350px;
}

.category-featured-item-upper
.category-featured-item-lower {
    height: 175px;
}

.category-featured-item img {
    border: 0.5px solid #d2d2d2;
}

.category-featured-item img:hover {
    border: 0.5px solid #ccc;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.category-featured-item-small,
.category-featured-item-medium {
    float: left;  
    height: 177px;
}

.category-featured-item-small img {
    height: 175px;
    width: 170px;
}

.category-featured-item-medium img {
    height: 175px;
    width: 320px;
}
